ColumnLimit: 80
IndentWidth: 2 

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
BreakStringLiterals: false

